<!doctype html>
<html>
    <meta charset="utf-8">
    <title> Index </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico") ">
    <link rel="stylesheet" type="text/css" href="css/style.css") ">
</head>

<body>

<header>
    <nav>
        <a href={{ app.request.baseUrl }}/>Home</a> |
        <a href={{ app.request.baseUrl }}/session>Session</a> |
        <a href={{ app.request.baseUrl }}/dice>Game 21</a>
        <a href={{ app.request.baseUrl }}/yatzy>Yatzy</a>
    </nav>
</header>
<main>

<h1>{{ header }} </h1>
<p> {{ app.session.get('Test') }}</p>
<p>{{ message }} </p>
</main>
<footer>
    <p>This is the footer.</p>
</footer>
</body>
</html>
